{#
/**
 * @file
 * Default theme implementation for Tennis Weather Checker.
 *
 * Available variables:
 *   - subheading
 *   - summary
 *   - weather_text
 * @ingroup themeable
 */
#}
<h1><strong>{{ subheading }}</strong><h1>
<div>
<p>{{ summary }}</p>
</div>
<div>
<strong>Current conditions</strong>
<br />
<img src="{{current_icon}}">&ensp;{{ current_cond.text }}<br />
Temperature: {{ current_cond.temp }} &deg;F<br />
Windspeed: {{ current_cond.precip }} mph<br />
<strong>Forecast</strong>
<br />
{% for item in forecast %}
  {# Convert hours from 24 hr format to 12 hr AM/PM format #}
  {% if item.FCTTIME.hour == 0 %}
    {% set converted_hour = '12 AM' %}
  {% elseif item.FCTTIME.hour == 12 %}
    {% set converted_hour = '12 PM' %}
  {% elseif item.FCTTIME.hour < 12 %}
    {% set converted_hour = item.FCTTIME.hour ~ ' AM' %}
  {% else %}
    {% set converted_hour = (item.FCTTIME.hour - 12) ~ ' PM' %}
  {% endif %}
  <b>{{ converted_hour }}</b>&emsp;{{item.temp.english}} &deg;F&emsp;Wind: {{ item.wspd.english }} mph&emsp;Chance of precipitation: {{ item.pop }}%
  <br />
{% endfor %}
<small>{{ timestamp }}</small>
<br /><br />
</div>
<p><strong>MySQL</strong></p>
<div>
{% for item in database_test %}
  <p>{{ item }}</p>
{% endfor %}
</div>
<br />
<br />
<br />
<small>Debug:</small><br />
{% for line in debug_info %}
  <small>{{ line }}</small><br />
{% endfor %}
