{#
/**
 * @file
 * Default theme implementation for Tennis Weather Checker.
 *
 * Available variables:
 *   - subheading
 *   - summary
 *   - weather_text
 * @ingroup themeable
 */
#}
<h1><strong>{{ subheading }}</strong><h1>
<div>
<p>{{ summary }}</p>
</div>
<div>
<strong>Current conditions</strong>
<br />
<img src="{{current_icon}}">&ensp;{{ current_cond.text }}<br />
Temperature: {{ current_cond.temp }} &deg;F<br />
Wind: {{ current_cond.precip }} mph<br />
<br />
<strong>Forecast</strong>
<br />
{% for item in forecast %}
  <font color={{ item.color }}>{{ item.string|raw }}</font><br />
{% endfor %}
<small>{{ timestamp }}</small>
<br /><br />
</div>
<strong>MySQL</strong><br />
{% for item in database_test %}
  {{ item }}<br />
{% endfor %}
<br />
<br />
<br />
<small>Debug:</small><br />
{% for line in debug_info %}
  <small>{{ line }}</small><br />
{% endfor %}
