{#
/**
 * @file
 * Default theme implementation for Tennis Weather Checker.
 *
 * Available variables:
 *   - subheading
 *   - summary
 *   - weather_text
 * @ingroup themeable
 */
#}
<strong>{{ subheading }}</strong>
<div>
<p>{{ summary }}</p>
<em>{{ weather_text }}</em>
</div>
<strong>MySQL</strong>
<div>
{% for item in database_test %}
  <p>{{ item }}</p>
{% endfor %}
</div>
<strong>Weather API</strong>
<div>
{% for item in weatherAPI_test %}
  <p>{{ item }}</p>
{% endfor %}
</div>
